    <!-- =====================
        Nexigen Header Top
    ====================== -->
    <section class="header-top">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="header-top-left">
                        <h4><span><img src="assets/images/icon-svg/location.svg" alt="location"></span> Birmingham, United Kingdom</h4>
                        <h4><span><img src="assets/images/icon-svg/clock.svg" alt="time"></span> Mon- Fri : 09:00 am - 05:00 pm</h4>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header-top-right">
                        <a href="mailto:scionnbusinessconsultancy@gmail.com"><span><img src="assets/images/icon-svg/envelop.svg" alt="mail"></span> </a>
                        <ul>
                            <li><a href="facebook.com"><img src="assets/images/icon-svg/facebook.svg" alt="facebook"></a></li>
                            <li><a href="twitter.com"><img src="assets/images/icon-svg/twitter.svg" alt="twitter"></a></li>
                            <li><a href="linkedin.com"><img src="assets/images/icon-svg/linkedin.svg" alt="linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- =====================
        Nexigen Header Menu
    ====================== -->
    <header id="sticky-header">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-2">
                    <div class="mobile-flex">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo1.png" alt="Scionn">
                            </a>
                        </div>
                        <!-- Mobile Hamburger Menu -->
                        <div class="hamburger-menu">
                            <i class="bi bi-list"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="header-menu">
                        <!-- Mobile Menu Close Button -->
                        <div class="close-btn">
                            <i class="bi bi-x"></i>
                        </div>
                        <!-- Only Show On Mobile Devices -->
                        <div class="appointment-mobile">
                            <a routerLink="/appointments" class="btn-search"><img src="assets/images/icon-svg/search.svg" alt="search"></a>
                            <a routerLink="/appointments" class="btn-primary">Make Appointment</a>
                        </div>
                        <!-- Menu -->
                        <ul>
                            <li class="sub-btn" routerLinkActive="current"><a routerLink="/home">Home</a>
                            </li>
                            <li class="sub-btn" routerLinkActive="current"><a routerLink="/services">Services</a>
                            </li>
                            <li class="sub-btn" routerLinkActive="current"><a routerLink="/about-us">About Scionn</a>
                            </li>
                            <!-- <li class="sub-btn" routerLinkActive="current"><a routerLink="/projects">Projects</a>
                            </li> -->
                            <li class="sub-btn" routerLinkActive="current"><a routerLink="/contacts">Contact Us</a>
                            </li>
                        </ul>
                        <!-- Info Business Only Show On Mobile Devices -->
                        <div class="header-top header-top-on-menu">
                            <div class="header-top-left">
                                <h4><span><img src="assets/images/icon-svg/location.svg" alt="location"></span> Birmingham, United Kingdom</h4>
                                <h4><span><img src="assets/images/icon-svg/clock.svg" alt="time"></span> Mon- Fri : 09:00 am - 05:00 pm</h4>
                            </div>
                            <div class="header-top-right">
                                <a href="mailto:scionnbusinessconsultancy@gmail.com"><span><img src="assets/images/icon-svg/envelop.svg" alt="mail"></span> scionnbusinessconsultancy@gmail.com</a>
                                <ul>
                                    <li><a href="facebook.com"><img src="assets/images/icon-svg/facebook.svg" alt="facebook"></a></li>
                                    <li><a href="twitter.com"><img src="assets/images/icon-svg/twitter.svg" alt="twitter"></a></li>
                                    <li><a href="linkedin.com"><img src="assets/images/icon-svg/linkedin.svg" alt="linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="header-right">
                        <a routerLink="/appointments" class="btn-search"><img src="assets/images/icon-svg/search.svg" alt="search"></a>
                        <a routerLink="/appointments" class="btn-primary">Make Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
