/* Laptop Layout: 1200px. */
@media only screen and (min-width: 1399px) and (max-width: 1505px) {
    .faq-right {
        left: 35px;
    }
    .herov2-animation .anim-hero-v2-03 {
        right: 15%;
    }
    .faq-anim .faq-anim-01 {
        left: 5%;
    }
    .faq-anim .faq-anim-02 {
        right: 4%;
        bottom: 10%;
    }
    .faq-anim .faq-anim-03 {
        right: 4%;
    }
    .faq-anim .faq-anim-04 {
        left: 1%;
    }
    .faq-outflow {
        right: -45px;
    }
    .hero-top-animation img:nth-child(2) {
        left: 0%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) { 
    .faq-right {
        left: 20px;
        text-align: center;
    }
    .header-top-left::after {
        left: 46%;
    }
    .header-top-right::after {
        right: 18%;
    }
    .about-img-right img {
        height: auto;
    }
    .how-its-work-anim .anim-work-01 {
        left: 15%;
    }
    .how-its-work-anim .anim-work-02 {
        left: 22%;
        top: 40%;
    }
    .how-its-work-anim .anim-work-03 {
        right: 12%;
    }
    .footer-right {
        padding-left: 60px;
    }
    .herov2-animation .anim-hero-v2-03 {
        right: 7%;
    }
    .herov2-animation .anim-hero-v2-02 {
        left: 13%;
    }
    .header-top.header-top-v2 .header-top-left::after {
        left: 45%;
    }
    .rounde-bubble {
        right: -9%;
    }
    .contact-v2-bx {
        margin-top: 114px;
    }
    .hero-v3-right img {
        max-width: 615px;
    }
    .hero-v3 {
        padding-bottom: 100px;
    }
    .about-v3-exp div {
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
    }
    .feedback-wrap-top .feedback-inner-lf {
        -ms-flex-preferred-size: 62%;
            flex-basis: 62%;
    }
    .feedback-wrap-top .feedback-inner-rs {
        -ms-flex-preferred-size: 38%;
            flex-basis: 38%;
        padding-left: 0px;
    }
    .feedback-v3-right {
        padding-right: 60px;
    }
    .client-feedback-v3 {
        background-position: 74% 50%;
    }
    .click-question-in {
        padding: 40px 40px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .faq-outflow {
        right: -95px;
    }
    .faq-right .faq-outflow {
        right: -95px;
    }
    .faq-right .faq-analytics {
        left: -4%;
    }
    .faq-analytics {
        left: -2%;
    }
    .faq-anim .faq-anim-01 {
        left: 2%;
    }
    .faq-anim .faq-anim-02 {
        right: 4%;
    }
    .faq-anim .faq-anim-03 {
        right: 5%;
    }
    .faq-anim .faq-anim-04 {
        left: 0%;
    }
    .blog-sidebar-tag {
        padding: 48px 45px;
    }
    .hero-top-animation img:nth-child(1) {
        left: -8%;
    }
    .hero-top-animation img:nth-child(2) {
        left: -10%;
    }
}
/* Medium Layout: 992px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    .header-menu ul {
        text-align: center;
    }
    .header-top-left h4:last-child {
        margin-left: 34px;
    }
    .header-top-left h4, .header-top-right a {
        font-size: 13px;
    }
    .header-top-left::after {
        left: 48.3%;
    }
    .header-top-right::after {left: 77.7%;}
    .header-top-right ul li a {
        line-height: 12px;
    }
    .btn-primary {
        padding: 18px 15px;
    }
    .btn-search {
        margin-right: 14px;
    }
    .hero-left h1 {
        font-size: 50px;
        line-height: 67px;
    }
    .about-img-right img {
        height: auto;
    }
    .years-exp {
        padding: 40px 25px;
    }
    .about-right h2 {
        font-size: 38px;
        line-height: 50px;
    }
    .heading-common h2 {
        font-size: 38px;
        line-height: 50px;
    }
    .how-its-work-anim .anim-work-01 {
        left: 15%;
    }
    .how-its-work-anim .anim-work-02 {
        left: 20%;
    }
    .how-its-work-anim .anim-work-03 {
        right: 12%;
        top: 20%;
    }
    .gater-info-bx.gater-info-bx-right {
        margin-left: 0;
    }
    .single-project img {
        height: 250px;
    }
    .faq-right {
        left: 0;
        padding-top: 52px;
    }
    .customer-heading h2 {
        font-size: 38px;
        line-height: 42px;
    }
    .get-contact-right {
        padding-right: 40px;
    }
    .get-contact-right h2 {
        font-size: 38px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .blog-card-desc {
        padding-right: 0;
    }
    .footer-right {
        padding-left: 15px;
    }
    .hero-animation .anim-hero-01 {
        right: 45%;
    }
    .header-top.header-top-v2 .header-top-left::after {
        left: 50.6%;
    }
    .herov2-animation .anim-hero-v2-03 {
        width: 120px;
        right: 4%;
        bottom: 30%;
    }
    .herov2-animation .anim-hero-v2-01 {
        left: 3%;
        top: 13%;
    }
    .herov2-animation .anim-hero-v2-02 {
        bottom: 5%;
        left: 6%;
    }
    .rounde-bubble {
        width: 155px;
        right: -10%;
    }
    .single-expert {
        height: calc(100% - 25px);
    }
    .contact-v2-bx {
        margin-top: 140px;
        padding: 50px 15px;
    }
    .contact-v2-bx-lf a, .contact-v2-bx-rf a {
        font-size: 17px;
    }
    .contact-v2-animation .anim-conv2-01 {
        left: 40%;
    }
    .footer-main-v2 .footer-left {
        padding-right: 30px;
    }
    .hero-v3-left h1 {
        font-size: 50px;
        line-height: 67px;
    }
    .hero-v3-right img {
        margin-left: 0;
        max-width: 525px;
    }
    .hero-v3 {
        padding-bottom: 100px;
    }
    .about-v3-exp div {
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
    }
    .about-right {
        padding-left: 10px;
    }
    .why-v3-left {
        padding-right: 80px;
    }
    .feedback-v3-right {
        padding: 30px 25px;
        padding-right: 25px;
    }
    .feedback-wrap-top .feedback-inner-lf {
        -ms-flex-preferred-size: 61%;
            flex-basis: 61%;
    }
    .feedback-wrap-top .feedback-inner-rs {
        -ms-flex-preferred-size: 39%;
            flex-basis: 39%;
        padding-left: 15px;
    }
    .feedback-inner-rs span {
        margin-right: 0px;
    }
    .quote-v3 {
        top: -22px;
        width: 75px;
    }
    .client-feedback-v3 {
        background-position: 85% 65%;
    }
    .footer-wrap-v3 .footer-right {
        padding-left: 5px;
    }
    .round-shape::before, .round-shape::after {
        left: -145px;
        top: 55px;
        width: 485px;
        height: 485px;
    }
    .round-shape::after {
        left: auto;
        top: auto;
    }
    .breadcrubm-big {
        font-size: 100px;
        line-height: 100px;
        top: 22px;
        left: 80px;
    }
    .option-category, .have-question, .contact-service {
        padding: 40px 30px;
    }
    .question-detail {
        padding-left: 70px;
    }
    .have-question {
        padding: 32px 15px;
    }
    .have-question h4 {
        font-size: 20px;
        line-height: 30.2px;
    }
    .service-feature-wrap .service-feature {
        padding-right: 20px;
    }
    .click-question-in {
        padding: 45px 40px;
        margin-left: 0;
        margin-right: 0;
    }
    .click-question-in h2 {
        font-size: 40px;
        line-height: 65.4px;
    }
    .faq-outflow {
        right: -115px;
    }
    .faq-analytics {
        left: -6%;
    }
    .faq-anim .faq-anim-01 {
        left: 2%;
    }
    .faq-anim .faq-anim-02 {
        right: 3%;
    }
    .faq-anim .faq-anim-03 {
        right: 6%;
        top: 9%;
    }
    .faq-anim .faq-anim-04 {
        bottom: 1%;
        left: 0%;
    }
    .project-right-info h3 {
        font-size: 20px;
        line-height: 28.2px;
    }
    .stay-connected {
        padding: 28px 45px;
    }
    .single-blog-info-v2.blog-sidebar-single .blog-img img {
        height: 325px;
    }
    .blog-sidebar-post > div:first-child {
        -ms-flex-preferred-size: 46%;
            flex-basis: 46%;
    }
    .blog-sidebar-post > div:last-child {
        -ms-flex-preferred-size: 54%;
            flex-basis: 54%;
    }
    .blog-sidebar-tag {
        padding: 48px 24px;
    }
    .comment-pub-wrap .comment-public-left {
        -ms-flex-preferred-size: 42px;
            flex-basis: 42px;
    }
    .blog-post-comment {
        padding-right: 50px;
    }
    .hero-top-animation img:nth-child(1) {
        left: -14%;
        width: 245px;
    }
    .hero-top-animation img:nth-child(2) {
        bottom: -26%;
        left: -15%;
        width: 245px;
    }
    .hero-top-animation img:nth-child(3) {
        right: -23%;
        bottom: -31%;
        width: 250px;
    }
    .hero-top-animation img:nth-child(4) {
        top: -10%;
        width: 80px;
    }
}
/* Tablet & mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 
    header {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .header-top-left::after, .header-top-right::after {
        left: 47%;
    }
    .hero-left {
        padding-top: 0;
    }
    .header-top-right::after {
        left: 69.7%;
    }
    .hero-left p {
        padding-right: 0;
    }
    .hero-animation .anim-hero-01 {
        top: 24%;
        right: 47%;
    }
    .hero-animation .anim-hero-02 {
        bottom: 46%;
        right: 46%;
    }
    .about-img-right img {
        height: auto;
    }
    .about-right {
        padding-left: 0;
        padding-top: 50px;
    }
    .single-project {
        margin-bottom: 23px;
        height: 400px;
    }
    .gater-info-left {
        left: 30px;
    }
    .gater-info-bx {
        padding: 32px 30px;
        padding-left: 116px;
        width: auto;
        min-height: 227.56px;
    }
    .how-its-work-anim .anim-work-01 {
        left: 10%;
    }
    .how-its-work-anim .anim-work-02 {
        left: 18%;
        top: 39%;
    }
    .how-its-work-anim .anim-work-03 {
        right: 8%;
        top: 24%;
    }
    .single-service-box {
        margin-bottom: 30px;
    }
    .single-service-desc {
        min-height: 211.97px;
    }
    .single-project img {
        height: auto;
    }
    .faq-right {
        left: 0;
        padding-bottom: 30px;
    }
    .customer-slider .single-custome-slide p {
        font-size: 18px;
        line-height: 32px;
    }
    .customer-slider .owl-nav div {
        left: -135px;
    }
    .customer-slider .owl-nav div.owl-next {
        right: -135px;
    }
    .get-contact-right {
        padding-top: 50px;
        padding-right: 25px;
        padding-bottom: 25px;
        padding-left: 80px;
    }
    .blog-card-desc {
        padding-right: 0;
    }
    .footer-right {
        padding-left: 0;
        padding-top: 20px;
    }
    .single-service-top img {
        height: 400px;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: top;
           object-position: top;
    }
    .btn-secondary {
        padding: 14px 17px;
    }

    /* Mobile Responsive Menu CSS */
    .appointment-mobile, .close-btn, .hamburger-menu {
        display: block;
    }
    .mobile-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .header-right {
        display: none;
    }
    .header-menu {
        position: fixed;
        right: -100%;
        padding-top: 135px;
        top: 0;
        width: 300px;
        height: 100vh;
        padding-bottom: 50px;
        overflow-y: auto;
        background-color: #100D2C;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        z-index: 2;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -webkit-transition-property: right;
        -o-transition-property: right;
        transition-property: right;
    }

    .header-menu.active {
        right: 0;
    }
    
    .header-menu ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    .header-menu ul li a {
        text-align: right;
        font-size: 22px;
    }
    
    .header-menu ul {
        text-align: right;
        padding: 20px 35px;
    }

    .close-btn {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #EFECFF;
        font-size: 36px;
        cursor: pointer;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    
    .close-btn:hover, .hamburger-menu:hover {
        color: #D37302;
    }
    .hamburger-menu {
        color: #fff;
        font-size: 28px;
        cursor: pointer;
        -webkit-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    .appointment-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        padding-bottom: 25px;
    }
    .btn-search {
        margin-right: 20px;
    }
    .header-menu ul li a::before {
        display: none;
    }
    .header-menu ul li .submenu {
        display: none;
        position: inherit;
        top: 0px;
        margin-top: 10px;
        margin-left: 20px;
        min-width: auto;
        background-color: transparent;
        padding: 0 0;
        opacity: 1;
        visibility: visible;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    .header-menu ul li .submenu li {
        margin-bottom: 10px;
    }
    .header-menu ul li .submenu li:last-child {
        margin-bottom: 0;
    }
    .header-menu ul li:hover .submenu {
        top: 0px;
    }
    .header-menu ul li .submenu li a {
        padding: 0;
        display: inline-block;
        color: #A6A6A8;
        font-size: 18px;
    }
    header.sticky {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header-top.header-top-v2 .header-top-left::after {
        left: 53.8%;
    }
    .header-top.header-top-v2 .header-top-right::after {
        left: 50%;
    }
    .hamburger-menu.hamburger-menu-v2 {
        color: #D37302;
    }
    
    .hamburger-menu.hamburger-menu-v2:hover {
        color: #6140FF;
    }
    .hero-v2 {
        padding-top: 0;
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;
    }
    .herov2-animation .anim-hero-v2-03 {
        width: 110px;
        right: 6%;
        bottom: 28%;
    }
    .herov2-animation .anim-hero-v2-02 {
        bottom: 7%;
        left: 2%;
        width: 75px;
    }
    .herov2-animation .anim-hero-v2-01 {
        left: 0%;
        top: 3%;
        width: 90px;
    }
    .our-services-v2 {
        border-top-right-radius: 50% 10%;
        border-top-left-radius: 50% 10%;
    }
    .single-expert {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    
    .single-expert-img, .single-expert-detail {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    
    .single-expert-detail {
        padding-left: 0;
    }
    
    .single-expert-img {
        padding-bottom: 15px;
    }
    
    .single-expert-detail ul {
        margin-top: 10px;
    }
    .heading-common.heading-testimonial {
        padding-bottom: 0;
    }
    .our-testimonial-v2 {
        padding-bottom: 120px;
    }
    .contact-v2-bx {
        margin-top: 35px;
    }
    .contact-v2 .get-contact-left {
        margin-top: 30px;
    }
    .single-blog-info-v2 .blog-img img {
        height: auto;
    }
    .single-blog-info.single-blog-info-v2 {
        margin-bottom: 30px;
    }
    .contactv2-inner {
        background-size: 100% 100%;
    }
    .contactv2-animation .anim-contactv2-02 {
        right: 20%;
        top: 20%;
    }
    .contactv2-animation .anim-contactv2-01 {
        bottom: 18%;
        left: 10%;
    }
    .header-top-left, .header-top-right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-bottom: 7px;
    }
    .header-top-left h4:last-child {
        margin-left: 0;
    }
    .header-top-left h4 {
        margin-bottom: 4px;
    }
    .header-top-left::after, .header-top-right::after {
        display: none;
    }
    .header-top {
        display: none;
    }
    .header-top.header-top-on-menu {
        background-color: transparent;
        padding: 20px 35px;
        display: block;
    }
    .header-top-right ul {
        padding: 0;
    }
    
    .header-top-right ul li {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 10px;
        margin-right: 10px;
    }
    
    .header-top-right ul li a {
        line-height: 11px;
        text-align: center;
    }
    .hero-v3-right img {
        margin-left: 0;
        max-width: 400px;
    }
    .hero-v3-left {
        padding-top: 0;
    }
    .hero-v3 {
        padding-bottom: 100px;
        padding-top: 30px;
    }
    .about-v3-left {
        padding-right: 0;
    }
    .about-v3-exp {
        width: calc(100%);
    }
    .why-v3-left {
        padding-right: 0;
        padding-bottom: 50px;
    }
    .team-count {
        left: 0;
    }
    .why-v3-left .indicate-v3 {
        bottom: 70px;
    }
    .single-consulting-wrap {
        margin-bottom: 25px;
    }
    .single-team-v3 {
        margin-bottom: 25px;
    }
    .feedback-v3-left {
        padding-left: 0;
    }
    .feedback-v3-right {
        padding: 25px 25px;
        padding-right: 10px;
        margin-left: 0;
        margin-right: 0;
    }
    .feedback-wrap-top .feedback-inner-lf {
        -ms-flex-preferred-size: 66%;
            flex-basis: 66%;
    }
    .feedback-wrap-top .feedback-inner-rs {
        -ms-flex-preferred-size: 34%;
            flex-basis: 34%;
        padding-left: 0;
        text-align: center;
    }
    .feedback-inner-rs span {
        margin-right: 0;
    }
    .feedback-inner-rs span img {
        width: 13px;
        height: 13px;
    }
    .quote-v3 {
        top: -18px;
        width: 60px;
    }
    .client-feedback-v3 {
        background-size: 55%;
        background-position: 100% 65%;
    }
    .connected-v3-bg {
        padding: 45px 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .connected-v3-lf {
        padding-bottom: 25px;
    }
    .footer-wrap-v3 .footer-right {
        padding-left: 0;
        padding-top: 50px;
    }
    .round-shape::before, .round-shape::after {
        left: -285px;
    }
    .round-shape::after {
        left: auto;
        top: auto;
    }
    .breadcrubm-big {
        font-size: 70px;
        line-height: 70px;
        top: 36px;
        left: 80px;
    }
    .contactv2-inner.contactv2-inner-page {
        margin-left: 0;
        margin-right: 0;
    }
    .footer-v1-images div {
        text-align: left;
    }
    .service-feature-wrap .service-feature {
        padding-right: 40px;
    }
    .services-detail-right {
        padding-left: 0;
        padding-top: 50px;
    }
    .click-question-in {
        padding: 45px 40px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .click-question-in img {
        width: 90px;
        height: 90px;
    }
    .question-in {
        padding-left: 140px;
    }
    .click-question-in h2 {
        font-size: 36px;
        line-height: 55px;
    }
    .click-question-in h3 {
        font-size: 32px;
        line-height: 55px;
    }
    .click-question-in .screw-animation {
        height: 65px;
        width: 65px;
        right: -12%;
        top: 30%;
    }
    .single-member-right {
        padding-right: 0;
    }
    .single-member-left .pattern-team {
        width: 120px;
        height: 120px;
        left: -30px;
    }
    .faq-left.faq-page-left {
        padding-top: 50px;
    }
    .faq-anim .faq-anim-01 {
        left: 1%;
        top: 9%;
    }
    .faq-anim .faq-anim-02 {
        right: 9%;
        bottom: 3%;
    }
    .faq-anim .faq-anim-03, .faq-anim .faq-anim-04 {
        width: 75px;
    }
    .faq-anim .faq-anim-03 {
        right: 7%;
        top: 9%;
    }
    .faq-anim .faq-anim-04 {
        bottom: 0%;
        left: 0%;
    }
    .error-wrap h2 {
        font-size: 62px;
        line-height: 110px;
    }
    .project-des-in img {
        height: 300px;
    }
    .project-right-info h3 {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .stay-connected {
        padding: 20px 15px;
    }
    .stay-connected .connected-v3-rs form {
        width: 100%;
        margin-top: 0;
    }
    .phone-box {
        padding: 20px 20px;
    }
    .tag-row {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .comment-replat-form {
        padding-bottom: 50px;
    }
    .blog-sidebar-right {
        padding-left: 0;
    }
    .contact-map {
        margin-top: 0;
    }
    .contact-relative {
        margin-top: 0;
        padding-top: 95px;
    }
    .contact-page-left {
        padding-top: 0;
    }
    .contact-form-wrap {
        margin-left: 0;
        margin-right: 0;
        padding: 45px 25px;
    }
    .hero-top-animation img:nth-child(1) {
        left: -20%;
        top: -1%;
        width: 200px;
    }
    .hero-top-animation img:nth-child(2) {
        bottom: -19%;
        left: -18%;
        width: 180px;
    }
    .hero-top-animation img:nth-child(3) {
        right: -39%;
        bottom: -26%;
        width: 215px;
    }
    .hero-top-animation img:nth-child(4) {
        top: -8%;
        right: -21%;
        width: 60px;
    }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    .header-top-left, .header-top-right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-bottom: 7px;
    }
    .header-top-left h4 {
        margin-bottom: 4px;
    }
    .header-top-left h4:last-child {
        margin-left: 0;
    }
    .header-top-right {
        margin-bottom: 0;
    }
    .header-top-right ul {
        padding-left: 0;
        margin-top: 5px;
    }
    .header-top-left::after, .header-top-right::after {
        display: none;
    }
    .hero-left h1, .hero-v2-inner h1, .hero-v3-left h1 {
        font-size: 50px;
        line-height: 60.8px;
    }
    .btn-video {
        margin-top: 30px;
        margin-left: 0;
        display: block;
    }
    .hero-right {
        padding-top: 50px;
    }
    .company-prev {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .company-prev img {
        padding: 10px;
    }
    .hero-animation .anim-hero-01 {
        top: 5%;
        right: 20%;
    }
    .hero-animation .anim-hero-02 {
        bottom: 81%;
        right: 10%;
    }
    .company {
        padding-top: 0;
    }
    .years-exp h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .years-exp p {
        font-size: 13px;
        line-height: 16.2px;
    }
    .years-exp {
        padding: 22px 15px;
    }
    .about-img-right img {
        height: auto;
    }
    .about-right {
        padding-left: 0;
        padding-top: 50px;
    }
    .about-right h2, .heading-common h2, .customer-heading h2, .get-contact-right h2 {
        font-size: 38px;
        line-height: 48px;
    }
    .about-expert {
        width: auto;
    }
    .single-project {
        height: auto;
    }
    .gater-info-bx {
        min-height: auto;
    }
    .gater-info-bx.gater-info-bx-top, .gater-info-bx.gater-info-bx-left {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .gater-info-bx.gater-info-bx-left {
        margin-right: 0;
    }
    .gater-info-bx.gater-info-bx-right {
        margin-left: 0;
    }
    .how-we-work-bg {
        margin-top: 0;
    }
    .how-its-work-anim .anim-work-01 {
        left: 10%;
        top: 11%;
    }
    .how-its-work-anim .anim-work-02 {
        left: auto;
        right: 15%;
        top: 10%;
    }
    .how-its-work-anim .anim-work-03 {
        right: 7%;
        top: 20.5%;
        width: 72px;
    }
    .single-service-top img {
        height: 247px;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: top;
           object-position: top;
    }
    .single-service-desc {
        min-height: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
    .faq-left .accordion-item .accordion-button {
        padding-right: 25px;
    }
    .single-project img {
        height: auto;
    }
    .customer-slider .single-custome-slide p {
        font-size: 16px;
        line-height: 28px;
    }
    .background-contact {
        background-image: none;
        background-color: #100D2C;
        border-radius: 30px;
        padding-bottom: 60px;
    }
    .get-contact-right {
        padding-left: 25px;
    }
    .get-contact-left {
        padding: 40px 20px;
    }
    .get-contact-left form label {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .get-contact-left form label a {
        margin-left: 0;
    }
    .get-contact-left form label input[type="checkbox"] {
        margin-bottom: 10px;
    }
    .customer-slider .single-custome-slide .info-custom-des h3 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .customer-slider .single-custome-slide .info-custom-des h4 {
        font-size: 17px;
        line-height: 20px;
    }
    .blog-card-desc {
        padding-right: 0;
    }
    .footer-follow {
        text-align: left;
        padding-top: 25px;
    }
    .footer-contact ul li {
        margin-bottom: 15px;
    }
    .footer-newsletter form input[type="email"], .connected-v3-rs form input[type="email"] {
        height: 59.5px;
        padding: 18px 18px;
        padding-right: 70px;
    }
    .footer-newsletter form button, .connected-v3-rs form button {
        height: 60.2px;
        width: 60px;
    }
    .footer-page-link {
        margin-bottom: 25px;
    }
    .footer-right {
        padding-left: 0;
        padding-top: 0;
    }
    .footer-project-img img {
        width: 92px;
        height: 92px;
        -o-object-position: top;
           object-position: top;
    }
    .copyright-right {
        text-align: left;
        padding-bottom: 20px;
    }
    .copyright-right ul li {
        margin-left: 4px;
        padding-left: 8px;
    }
    .footer-wrap {
        padding-bottom: 20px;
    }
    .footer-project-img {
        display: block;
    }

    /* Mobile Responsive Menu CSS */
    .appointment-mobile, .close-btn, .hamburger-menu {
        display: block;
    }
    .mobile-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .header-right {
        display: none;
    }
    .header-menu {
        position: fixed;
        right: -100%;
        top: 0;
        padding-top: 135px;
        padding-bottom: 50px;
        width: 300px;
        height: 100vh;
        overflow-y: auto;
        background-color: #100D2C;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        z-index: 2;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -webkit-transition-property: right;
        -o-transition-property: right;
        transition-property: right;
    }

    .header-menu.active {
        right: 0;
    }
    
    .header-menu ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    .header-menu ul li a {
        text-align: right;
        font-size: 22px;
    }
    
    .header-menu ul {
        text-align: right;
        padding: 20px 35px;
    }

    .close-btn {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #EFECFF;
        font-size: 36px;
        cursor: pointer;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    
    .close-btn:hover, .hamburger-menu:hover {
        color: #D37302;
    }
    .hamburger-menu {
        color: #fff;
        font-size: 28px;
        cursor: pointer;
        -webkit-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    .appointment-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        padding-bottom: 25px;
    }

    .btn-search {
        margin-right: 20px;
    }

    .btn-primary {
        padding: 18px 20px;
    }
    header {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .hero {
        padding-top: 20px;
    }
    .yu2fvl-iframe {
        height: 100% !important;
        width: 100% !important;
    }
    .yu2fvl-close {
        right: 0%;
    }
    .header-menu ul li a::before {
        display: none;
    }
    .header-menu ul li .submenu {
        display: none;
        position: inherit;
        top: 0px;
        margin-top: 10px;
        margin-left: 20px;
        min-width: auto;
        background-color: transparent;
        padding: 0 0;
        opacity: 1;
        visibility: visible;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    .header-menu ul li .submenu li {
        margin-bottom: 10px;
    }
    .header-menu ul li .submenu li:last-child {
        margin-bottom: 0;
    }
    .header-menu ul li:hover .submenu {
        top: 0px;
    }
    .header-menu ul li .submenu li a {
        padding: 0;
        display: inline-block;
        color: #A6A6A8;
        font-size: 18px;
    }
    header.sticky {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .herov2-animation .anim-hero-v2-01 {
        width: 45px;
    }
    .hero-v2-play img {
        height: 60px;
        width: 130px;
        margin-top: -10px;
    }
    .hero-v2-play::before {
        top: 50%;
        width: 100%;
        height: 100%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .btn-secondary.btn-secondary-v2 {
        padding: 16px 35px;
    }
    .herov2-animation .anim-hero-v2-03 {
        width: 65px;
        right: 1%;
        bottom: 28%;
    }
    .hero-v2 {
        padding-top: 0;
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
    }
    .hero-provide-ser {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-top: 35px;
    }
    .hero-provide-ser h4:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .hero-provide-ser h4:nth-child(2)::before, .hero-provide-ser h4:nth-child(2)::after {
        position: absolute;
        content: '';
        left: 50%;
        top: 20%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    .hero-provide-ser h4:nth-child(2)::after {
        top: auto;
        bottom: 3%;
    }
    .herov2-animation .anim-hero-v2-02 {
        width: 55px;
        bottom: 3%;
        left: 2%;
    }
    .our-services-v2 {
        border-top-right-radius: 50% 8%;
        border-top-left-radius: 50% 8%;
    }
    .years-exp.years-exp-v2 {
        padding: 20px 20px;
    }
    .rounde-bubble {
        width: 84px;
        right: 5%;
        top: 15%;
    }
    .single-expert {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .single-expert-detail {
        padding-left: 0;
        text-align: center;
    }
    .our-testimonial-v2 {
        padding-bottom: 100px;
    }
    .contact-v2-bx {
        margin-top: 35px;
        padding: 25px 25px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .contact-v2-bx-rf {
        margin-left: 0;
        margin-top: 20px;
    }
    .contactv2-inner {
        background-size: contain;
        background-position: top center;
    }
    .footer-main-v2 .footer-left {
        padding-right: 0;
    }
    .footer-copyright-v2 .copyright-right, .footer-copyright-v2 .copyright-left {
        text-align: center;
        padding-bottom: 0;
    }
    .copyright-social {
        text-align: center;
    }
    .copyright-social a:first-child {
        margin-left: 0;
    }
    .footer-copyright-v2 .copyright-right {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .company.company-v2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header-top {
        display: none;
    }
    .header-top.header-top-on-menu {
        background-color: transparent;
        padding: 20px 35px;
        display: block;
    }
    .header-top-right ul {
        padding: 0;
    }
    
    .header-top-right ul li {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 10px;
        margin-right: 10px;
    }
    
    .header-top-right ul li a {
        line-height: 11px;
        text-align: center;
    }
    .hero-v3-right img {
        margin-left: 0;
        max-width: 100%;
        margin-right: 0;
    }
    .hero-v3-right {
        text-align: center;
        padding-bottom: 30px;
    }
    .hero-v3 {
        padding-top: 0;
        padding-bottom: 65px;
    }
    .service-box-v3 div:first-child {
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
    }
    .service-box-v3 div:last-child {
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    }
    .service-box-v3 {
        margin-bottom: 30px;
    }
    .about-v3 {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .about-v3-exp div {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .why-choose-v3 {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .why-v3-left .indicate-v3 {
        bottom: 70px;
        right: 20%;
        z-index: -1;
    }
    .team-count {
        left: 0;
    }
    .waves {
        bottom: -50px;
        left: -35px;
        width: 55px;
    }
    .single-consulting-wrap {
        margin-bottom: 30px;
    }
    .team-v3 {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .client-feedback-v3 {
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .feedback-wrap-top .feedback-inner-lf {
        -ms-flex-preferred-size: 61%;
            flex-basis: 61%;
    }
    .feedback-wrap-top .feedback-inner-rs {
        -ms-flex-preferred-size: 39%;
            flex-basis: 39%;
    }
    .feedback-v3-right {
        padding: 25px 25px;
        padding-right: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }
    .quote-v3 {
        top: -10px;
        width: 40px;
    }
    .connected-v3-bg {
        padding: 30px 15px;
        margin-left: 0;
        margin-right: 0;
    }
    .connected-v3-lf h2 {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .feedback-v3-left {
        padding-left: 0;
        padding-bottom: 20px;
    }
    .footer-wrap.footer-wrap-v3 {
        padding-top: 30px;
        margin-top: 30px;
        padding-bottom: 20px;
    }
    .round-shape::before, .round-shape::after {
        left: -100px;
        width: 300px;
        height: 300px;
    }
    .round-shape::after {
        left: auto;
        top: auto;
        bottom: -75px;
    }
    .footer-wrap-v3 .footer-follow {
        padding-bottom: 25px;
    }
    .footer-wrap-v3 .footer-follow ul li:first-child {
        margin-left: 0;
    }
    .footer-wrap-v3 .footer-right {
        padding-left: 0;
        padding-top: 0;
    }
    .faq-left .accordion-item .accordion-body {
        padding-right: 20px;
    }
    .breadcrubm-big {
        font-size: 50px;
        line-height: 50px;
        top: 40px;
        left: 30px;
    }
    .contactv2-inner.contactv2-inner-page {
        margin-left: 0;
        margin-right: 0;
    }
    .breadcrubm-wrapper h3 {
        font-size: 42px;
        line-height: 42px;
    }
    .anim-services-02 {
        width: 70px;
    }
    .anim-services-01 {
        right: 20%;
        bottom: -80%;
    }
    .footer-v1-images div {
        text-align: left;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    }
    .footer-project-img {
        display: block;
        margin-right: 15px;
    }
    .option-category, .have-question, .contact-service {
        padding: 30px 30px;
    }
    .question-detail {
        padding-left: 65px;
    }
    .have-question h4 {
        font-size: 22px;
        line-height: 30px;
    }
    .contact-service {
        padding: 24px 25px;
    }
    .services-detail-right {
        padding-left: 0;
        padding-top: 40px;
    }
    .services-detail-right h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .service-feature-wrap, .list-feature {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .list-feature > div {
        padding-right: 0;
        padding-bottom: 10px;
        width: 100%;
    }
    .list-feature div ul li {
        margin-bottom: 10px;
    }
    .services-detail {
        padding-bottom: 60px;
    }
    .about-us-v4 .about-right {
        padding-left: 0;
    }
    .about-partner {
        padding-top: 45px;
        padding-bottom: 40px;
    }
    .company.company-about {
        padding-top: 50px;
    }
    .about-video {
        padding-bottom: 45px;
    }
    .click-question-in {
        padding: 30px 20px;
        padding-top: 95px;
        margin-left: 0;
        margin-right: 0;
    }
    .question-in {
        padding-left: 0;
        text-align: center;
    }
    .click-question-in img {
        width: 65px;
        height: 65px;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        top: -40px;
    }
    .click-question-in h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .click-question-in h3 {
        font-size: 24px;
        line-height: 24px;
    }
    .click-question-in .screw-animation {
        height: 48px;
        width: 48px;
        right: 0%;
        top: 100%;
    }
    .single-member-left img {
        width: auto;
        height: auto;
    }
    .single-member-left .pattern-team {
        width: 70px;
        height: 70px;
        left: -10px;
        bottom: auto;
        top: -20px;
    }
    .single-member-right {
        padding-right: 0;
        padding-top: 25px;
    }
    .single-member-right h3 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }
    .single-member-right h5 {
        line-height: 15px;
        margin-bottom: 5px;
    }
    .member-social ul {
        padding-left: 15px;
    }
    .single-member-left {
        text-align: left;
    }
    .form-faq h2 {
        font-size: 42px;
        line-height: 48px;
    }
    .form-faq p {
        font-size: 20px;
        line-height: 28px;
    }
    .form-faq form input[type="text"], .form-faq form input[type="email"] {
        width: 100%;
    }
    .form-faq form .form-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .faq-anim .faq-anim-01, .faq-anim .faq-anim-02 {
        width: 30px;
    }
    .faq-anim .faq-anim-01 {
        left: 0%;
        top: 7%;
    }
    .faq-anim .faq-anim-02 {
        right: 15%;
        bottom: 1%;
    }
    .faq-anim .faq-anim-03, .faq-anim .faq-anim-04 {
        width: 48px;
    }
    .faq-anim .faq-anim-03 {
        right: 13%;
        top: 8%;
    }
    .faq-outflow {
        top: 35%;
        right: -95px;
    }
    .faq-analytics {
        bottom: 0;
        left: -5%;
    }
    .error-wrap h2 {
        font-size: 56px;
        line-height: 65px;
        margin-bottom: 20px;
    }
    .error-wrap p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .error-wrap img {
        padding-bottom: 65px;
    }
    .pagination-project .page-item {
        margin-right: 10px;
    }
    .pagination-project .page-item .page-link {
        padding: 5px 5px;
        font-size: 14px;
        line-height: 24px;
        width: 40px;
        height: 40px;
    }
    .pagination-project .pagination {
        margin-top: 60px;
    }
    .project-des-in img {
        height: 250px;
    }
    .project-des-in h2 {
        font-size: 30px;
        line-height: 40.8px;
        margin-bottom: 15px;
    }
    .project-des-in .des-block {
        padding-top: 20px;
    }
    .project-wrap {
        padding-left: 0;
        padding-top: 35px;
    }
    .project-right-info h3 {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .stay-connected {
        padding: 20px 15px;
    }
    .connected-v3-lf {
        padding-bottom: 25px;
    }
    .stay-connected .connected-v3-rs form {
        width: 100%;
        margin-top: 0;
    }
    .steps-start {
        padding-top: 115px;
    }
    .single-pro-steps {
        padding-bottom: 35px;
    }
    .prev-next {
        padding-top: 40px;
        margin-top: 50px;
    }
    .single-blog-info-v2.blog-sidebar-single .blog-img img {
        height: 215px;
    }
    .blog-card-desc.blog-card-sidebar .blog-category h5 {
        font-size: 12px;
    }
    .blog-card-desc.blog-card-sidebar .blog-category {
        padding: 6px 12px;
    }
    .blog-card-sidebar .blog-publish-time h5, .blog-comment h5 {
        font-size: 12px;
    }
    .blog-comment, .blog-card-sidebar .blog-publish-time {
        margin-left: 7px;
    }
    .blog-sidebar-right {
        padding-left: 0;
    }
    .blog-sidebar-right form input {
        padding: 15px 20px;
        height: 60px;
        font-size: 20px;
    }
    .blog-sidebar-right form button {
        padding: 15px 17px;
    }
    .blog-sidebar-post > div:first-child {
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
    }
    .blog-sidebar-recent, .blog-sidebar-categories, .blog-sidebar-tag {
        padding: 40px 20px;
    }
    .blog-sidebar-post > div:first-child img {
        width: 80px;
        height: 80px;
    }
    .blog-sidebar-post h4 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .single-tag-blog {
        font-size: 14px;
        padding: 5px 15px;
        width: 140px;
        margin-bottom: 15px;
    }
    
    .tag-row .single-tag-blog:first-child {
        margin-right: 15px;
    }
    .stay-connected.stay-connected-blog {
        padding-top: 120px;
        padding-bottom: 105px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .stay-connected.stay-connected-blog .connected-v3-rs form input[type="email"] {
        font-size: 14px;
        padding: 14px 12px;
        height: 55px;
    }
    
    .stay-connected.stay-connected-blog .connected-v3-rs form button {
        padding: 15px 25px;
    }
    .pagination-blog-sidebar .pagination {
        margin-top: 30px;
    }
    .quote-one, .quote-two {
        padding: 24px 24px;
    }
    .blog-page-tag a {
        padding: 5px 10px;
        font-size: 13px;
        margin-bottom: 10px;
        margin-right: 5px;
    }
    .left-social a {
        width: 24px;
        height: 24px;
        margin-right: 5px;
        line-height: 22px;
    }
    
    .left-social a img {
        width: 12px;
        height: 12px;
    }
    
    .blog-page-tag > div:first-child, .left-social > div:first-child {
        margin-right: 15px;
    }
    
    .blog-post-comment {
        padding-right: 0;
    }
    
    .comment-pub-wrap .comment-public-left {
        -ms-flex-preferred-size: 44px;
            flex-basis: 44px;
    }
    
    .comment-replat-form form input[type="text"], .comment-replat-form form input[type="url"], .comment-replat-form form input[type="email"], .comment-replat-form form textarea {
        height: 55px;
        padding: 12px 20px;
    }
    
    .comment-replat-form form textarea {
        height: 150px;
        margin-bottom: 25px;
    }
    
    .btn-primary.btn-comment {
        padding: 20px 50px;
        font-size: 18px;
    }
    .blog-single-right-page {
        padding-left: 0;
    }
    .single-contact-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .single-contact-row > div:last-child {
        padding-left: 0;
    }
    .single-contact-row h5 {
        margin-bottom: 10px;
    }
    .contact-page-right {
        padding: 40px 15px;
    }
    .contact-map-wrap iframe {
        height: 400px;
    }
    .contact-form-wrap {
        margin-left: 0;
        margin-right: 0;
    }
    .contact-group > div {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        width: 100%;
    }
    .contact-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .hero-top-animation {
        display: none;
    }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    
}