     <!-- ================
        Breadcrumb Common
    ===================== -->
    <section class="breadcrubm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrubm-wrapper">
                        <img class="anim-services-01" src="assets/images/home/doddles02.png" alt="">
                        <img class="anim-services-02" src="assets/images/home/hero-v3-04.png" alt="">
                        <h5>Contact Us</h5>
                        <h3>Contact Information</h3>
                        <h1 class="breadcrubm-big">Contact</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- ============
        Get In Touch
    ============== -->
    <section class="contact-option-v2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="contact-v2-box">
                        <span><img src="assets/images/icon-svg/phone.svg" alt=""></span>
                        <h5>Phone Number</h5>
                        <a href="tel:+447734845697">+44 773 484 5697</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="contact-v2-box">
                        <span><img src="assets/images/icon-svg/envelop.svg" alt=""></span>
                        <h5>Email Address</h5>
                        <a href="mailto:nexigen@gmail.com">scionnbusinessconsultancy@gmail.com</a>
                        <a href="mailto:info.next@gmail.com">info@scionnbusinessconsultancy.co.uk</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="contact-v2-box">
                        <span><img src="assets/images/icon-svg/location.svg" alt=""></span>
                        <h5>Office Address</h5>
                        <a href="https://www.google.com/maps">Birmingham, United Kingdom</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="contact-v2-box">
                        <span><img src="assets/images/icon-svg/clock.svg" alt=""></span>
                        <h5>Office Hours</h5>
                        <p>Monday to Friday <br>
                            09:00 am - 05:00 pm</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============
       Contact Form
    ================ -->
    <section class="contact-form-v2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-form-wrap">
                        <h4>Feel Free To Contact With Us</h4>
                        <form action="#">
                            <div class="contact-group">
                                <div>
                                    <input type="text" name="name" placeholder="Name">
                                </div>
                                <div>
                                    <input type="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <textarea name="message" placeholder="Write Comment..."></textarea>
                            <button class="btn-primary btn-contact" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==========
       Contact US
    ============== -->
    <section class="contactv2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contactv2-inner contactv2-inner-page">
                        <div class="contactv2-animation">
                            <img class="anim-contactv2-01" src="assets/images/home/doddles01.png" alt="">
                            <img class="anim-contactv2-02" src="assets/images/home/doddles02.png" alt="">
                        </div>
                        <div class="heading-common">
                            <h4>CONTACT US</h4>
                            <h2>let’s partner to build <br class="d-lg-block d-none">
                                something cool together</h2>
                            <a href="contact.html" class="contact-circle"><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
