    <!-- =====================
        Nexigen Hero
    ====================== -->
    <section class="hero">
        <div class="hero-animation">
            <img class="anim-hero-01" src="assets/images/home/doddles01.png" alt="">
            <img class="anim-hero-02" src="assets/images/home/doddles02.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="hero-left">
                        <h4>Welcome to Scionn Business Consultancy</h4>
                        <h1>IT Solutions for <br class="d-lg-block d-none"> every business organization</h1>
                        <p>We specialize in helping organizations achieve excellence in customer relationship management (CRM) systems and drive sustainable growth.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="hero-right">
                        <img src="assets/images/home/home-feature01.png" alt="solutions">
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- =====================
        Scionn Partner Companies
    ====================== -->
    <div class="company">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="company-prev">
                        <img src="assets/images/home/copmany01.png" alt="">
                        <img src="assets/images/home/copmany02.png" alt="">
                        <img src="assets/images/home/copmany03.png" alt="">
                        <img src="assets/images/home/copmany04.png" alt="">
                        <img src="assets/images/home/copmany05.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- =====================
        About US
    ====================== -->
    <section class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-left">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-7">
                                <div class="about-img-left">
                                    <img src="assets/images/home/corporate01.png" alt="corporate">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-5">
                                <div class="about-img-right">
                                    <img src="assets/images/home/corporate02.png" alt="corporate">
                                </div>
                            </div>
                        </div>
                        <div class="years-exp">
                            <h2><span class="counter">10</span> <sup>+</sup></h2>
                            <p>Years Experience <br>
                                of growth</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-right">
                        <h4>About Scionn</h4>
                        <h2>Our expert team <br class="d-lg-block d-md-none">
                            at Scionn Business Consultancy,</h2>
                        <p>Welcome to Scionn Business Consultancy Ltd, your trusted partner for cutting-edge IT solutions and business analysis services. We specialize in helping organizations achieve excellence in customer relationship management (CRM) systems and drive
                            sustainable growth.</p>
                        <ul>
                            <li><span><img src="assets/images/icon-svg/sign-circle.svg" alt=""></span> Comprehensive CRM analysis and assessment</li>
                            <li><span><img src="assets/images/icon-svg/sign-circle.svg" alt=""></span> Requirements gathering and documentation</li>
                            <li><span><img src="assets/images/icon-svg/sign-circle.svg" alt=""></span> Business process optimization and reengineering</li>
                            <li><span><img src="assets/images/icon-svg/sign-circle.svg" alt=""></span> BSolution design and system architecture</li>
                            <li><span><img src="assets/images/icon-svg/sign-circle.svg" alt=""></span> Change management and user adoption strategies</li>
                            <li><span><img src="assets/images/icon-svg/sign-circle.svg" alt=""></span> Training and support services</li>
                        </ul>
                        <div class="about-expert">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-5">
                                    <div class="about-expert-anim">
                                        <img class="fadeInLeft wow" data-wow-duration="2s" data-wow-delay="2s" src="assets/images/home/expertsm01.png" alt="">
                                        <img class="fadeInLeft wow" data-wow-duration="2s" data-wow-delay="2.5s" src="assets/images/home/expertsm02.png" alt="">
                                        <img class="fadeInLeft wow" data-wow-duration="3s" data-wow-delay="3s" src="assets/images/home/expertsm03.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-7">
                                    <div class="about-expert-counts">
                                        <h3><span class="counter">10</span></h3>
                                        <p>Our Expert Team</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn-secondary" routerLink="/services"> Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- =====================
        Latest Project
    ====================== -->
    <section class="latest-project">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-common">
                        <h2>We have earned a reputation <br class="d-lg-block d-none"> as the market leader</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="single-project">
                        <img src="assets/images/home/project01.png" alt="">
                        <div class="project-title">
                            <a routerLink="/projects"> <i class="bi bi-box-arrow-up-right"></i></a>
                            <h3>Business Consultancy</h3>
                            <h3>Scionn</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="single-project">
                        <img src="assets/images/home/project02.png" alt="">
                        <div class="project-title">
                            <a routerLink="/projects"> <i class="bi bi-box-arrow-up-right"></i></a>
                            <h3>Business Consultancy</h3>
                            <h3>Scionn</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="single-project">
                        <img src="assets/images/home/project03.png" alt="">
                        <div class="project-title">
                            <a routerLink="/projects"> <i class="bi bi-box-arrow-up-right"></i></a>
                            <h3>Business Consultancy</h3>
                            <h3>Scionn</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <!-- =====================
        How We Works
    ====================== -->
    <section class="how-we-work">
        <div class="how-its-work-anim">
            <img class="anim-work-01" src="assets/images/home/doddles03.png" alt="">
            <img class="anim-work-02" src="assets/images/home/doddles04.png" alt="">
            <img class="anim-work-03" src="assets/images/home/arrow-indicate.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-common">
                        <h4>how we works</h4>
                        <h2>Our client-centric approach <br class="d-lg-block d-none"> to building a thriving business</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="how-we-work-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="gater-info-wrap">
                            <div class="row">
                                <div class="col-lg-12 offset-lg-0 col-md-6 offset-md-3">
                                    <div class="gater-info-bx gater-info-bx-top">
                                        <div class="gater-info-left">
                                            <h3>01</h3>
                                        </div>
                                        <div class="gater-info-right">
                                            <h3>Partnership</h3>
                                            <p>Building strong, long-lasting partnerships with our clients is our top priority.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="gater-info-bx gater-info-bx-left">
                                        <div class="gater-info-left">
                                            <h3>02</h3>
                                        </div>
                                        <div class="gater-info-right">
                                            <h3>Communication</h3>
                                            <p>We believe in open communication, collaboration, and transparency throughout the consulting journey.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="gater-info-bx gater-info-bx-right">
                                        <div class="gater-info-left">
                                            <h3>03</h3>
                                        </div>
                                        <div class="gater-info-right">
                                            <h3>Focus</h3>
                                            <p>Our focus is on delivering exceptional results that drive tangible business value. Your success is our success.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- =====================
        Get In Touch
    ====================== -->
    <section class="get-in-touch">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="background-contact">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 order-md-0 order-1">
                                    <div class="get-contact-left">
                                        <form method="post" action="#">
                                            <input type="text" name="fName" id="fName" placeholder="First name" required>
                                            <input type="text" name="lName" id="lName" placeholder="Last name" required>
                                            <input type="email" placeholder="Email address" required>
                                            <textarea placeholder="Message"></textarea>
                                            <label for="check">
                                                <input type="checkbox" name="check" id="check">
                                                by clicking here you agree to our <a href="#">terms and policy.</a>
                                            </label>
                                            <button type="submit" class="btn-secondary btn-get-touch">Send Message</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 order-md-1 order-0">
                                    <div class="get-contact-right">
                                        <h2>Ready to revolutionize your CRM systems and <br class="d-lg-block d-none"> unleash your business's true potential?</h2>
                                        <p>if you are looking for expert guidance and support to take your business to the next level, or if you need help finding the right business analysis solutions for your business, don't hesitate to get in touch with us.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>