<!-- =====================
        Footer 
    ====================== -->
    <footer class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                </div>
                <div class="col-lg-2 offset-lg-5 col-md-3 offset-md-3 col-12">
                    <div class="footer-follow">
                        <h3>Follow us</h3>
                        <ul>
                            <li><a href="facebook.com"><img src="assets/images/icon-svg/facebook.svg" alt="facebook"></a></li>
                            <li><a href="twitter.com"><img src="assets/images/icon-svg/twitter.svg" alt="twitter"></a></li>
                            <li><a href="linkedin.com"><img src="assets/images/icon-svg/linkedin.svg" alt="linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-wrap">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="footer-left">
                                    <div class="footer-logo">
                                        <img src="assets/images/logo1.png" alt="Scionn">
                                    </div>
                                    <p>We specialize in helping organizations achieve excellence in customer relationship management (CRM) systems and drive sustainable growth.</p>
                                    <div class="footer-contact">
                                        <ul>
                                            <li><a href="tel:956643332221"><span><img src="assets/images/icon-svg/phone.svg" alt=""></span> +44 773 484 5697</a></li>
                                            <li><a href="mailto:scionnbusinessconsultancy@gmail.com"><span><img src="assets/images/icon-svg/envlope.svg" alt=""></span> scionnbusinessconsultancy@gmail.com</a></li>
                                            <li><a href="https://www.google.com/maps" target="_blank"><span><img src="assets/images/icon-svg/location-yellow.svg" alt=""></span> Birmingham, United Kingdom</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 offset-lg-1 col-md-3">
                                <div class="footer-page-link">
                                    <h3>Explore</h3>
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="about-us.html">Testimonial</a></li>
                                        <li><a href="projects.html">Projects</a></li>
                                        <li><a href="blog-all.html">Blogs</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="footer-page-link">
                                    <h3>Quick Links</h3>
                                    <ul>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="our-team.html">Our Team</a></li>
                                        <li><a href="our-team-v2.html">Supports</a></li>
                                        <li><a href="faqs.html">FAQ</a></li>
                                        <li><a href="contact.html">Help</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="footer-right">
                                    <h3>Recent Projects</h3>
                                    <div class="footer-v1-images">
                                        <div>
                                            <a href="project-details.html" class="footer-project-img">
                                                <img src="assets/images/home/footer-pro01.png" alt="">
                                            </a>
                                            <a href="project-details.html" class="footer-project-img">
                                                <img src="assets/images/home/footer-pro03.png" alt="">
                                            </a>
                                        </div>
                                        <div>
                                            <a href="project-details.html" class="footer-project-img">
                                                <img src="assets/images/home/footer-pro02.png" alt="">
                                            </a>
                                            <a href="project-details.html" class="footer-project-img">
                                                <img src="assets/images/home/footer-pro04.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-6 col-md-6 order-md-0 order-1">
                                <div class="copyright-left">
                                    <p>&copy; Copyright 2023 by Pitcher Inc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>