  <!-- ================
        Breadcrumb Common
    ===================== -->
    <section class="breadcrubm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrubm-wrapper">
                        <img class="anim-services-01" src="assets/images/home/doddles02.png" alt="">
                        <img class="anim-services-02" src="assets/images/home/hero-v3-04.png" alt="">
                        <h5>about us</h5>
                        <h3>We are the market <br> leader</h3>
                        <h1 class="breadcrubm-big">about us</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- =====================
        About US
    ====================== -->
    <section class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-left">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-7">
                                <div class="about-img-left">
                                    <img src="assets/images/home/corporate01.png" alt="corporate">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-5">
                                <div class="about-img-right">
                                    <img src="assets/images/home/corporate02.png" alt="corporate">
                                </div>
                            </div>
                        </div>
                        <div class="years-exp">
                            <h2><span class="counter">10</span> <sup>+</sup></h2>
                            <p>Years Experience <br>
                                of growth</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-right">
                        <h4>About Scionn</h4>
                        <h2>Our expert team <br class="d-lg-block d-md-none">
                            at Scionn Business Consultancy,</h2>
                        <p>Welcome to Scionn Business Consultancy Ltd, your trusted partner for cutting-edge IT solutions and business analysis services. We specialize in helping organizations achieve excellence in customer relationship management (CRM) systems and drive
                            sustainable growth.</p>
                        <ul>
                            <li><span><img src="assets/images/icon-svg/sign-circle.svg" alt=""></span> Comprehensive CRM analysis and assessment</li>
                            <li><span><img src="assets/images/icon-svg/sign-circle.svg" alt=""></span> Requirements gathering and documentation</li>
                            <li><span><img src="assets/images/icon-svg/sign-circle.svg" alt=""></span> Business process optimization and reengineering</li>
                            <li><span><img src="assets/images/icon-svg/sign-circle.svg" alt=""></span> BSolution design and system architecture</li>
                            <li><span><img src="assets/images/icon-svg/sign-circle.svg" alt=""></span> Change management and user adoption strategies</li>
                            <li><span><img src="assets/images/icon-svg/sign-circle.svg" alt=""></span> Training and support services</li>
                        </ul>
                        <div class="about-expert">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-5">
                                    <div class="about-expert-anim">
                                        <img src="assets/images/home/expertsm01.png" alt="">
                                        <img src="assets/images/home/expertsm02.png" alt="">
                                        <img src="assets/images/home/expertsm03.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-7">
                                    <div class="about-expert-counts">
                                        <h3><span class="counter">10</span></h3>
                                        <p>Our Expert Team</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- ==========
        Contact US
    ============== -->
    <section class="contactv2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contactv2-inner contactv2-inner-page">
                        <div class="contactv2-animation">
                            <img class="anim-contactv2-01" src="assets/images/home/doddles01.png" alt="">
                            <img class="anim-contactv2-02" src="assets/images/home/doddles02.png" alt="">
                        </div>
                        <div class="heading-common">
                            <h4>CONTACT US</h4>
                            <h2>let’s work on <br class="d-lg-block d-none">
                                something cool together</h2>
                            <a routerLink="/appointments" class="contact-circle"><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
